{% extends 'base.html.twig' %}
   {% block title %}
{% if app.current_route != "app_sales_new" %}
Modification/Consultation bon sortie
{% else %}
    Ajout bon sortie
{% endif %}
   {% endblock %}

{% block body %}
    {{ form_start(form,{'attr': {'class': 'saveForm','id': 'saveForm'}}) }}

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item"><a href="{{ path('app_delivery_note_index') }}">Bons de sortie</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        {% if app.current_route != "app_sales_new" %}
                                            Modification/Consultation bon sortie
                                        {% else %}
                                            Ajout bon sortie
                                        {% endif %}
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="d-flex justify-content-between align-items-end p-1">
                    <h5 class="font-weight-bold"></h5>
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".modal-add-customer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        Ajouter un nouveau client
                    </button>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label  class="form-label font-weight-bold text-muted text-uppercase">Référence :</label>
                            {{ form_widget(form.reference,{'attr': {'class': 'form-control','readonly':'readonly'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label  class="form-label font-weight-bold text-muted text-uppercase">Client :</label>
                            {{ form_widget(form.customer,{'attr': {'class': 'form-select form-control choicesjsSelect2'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label  class="form-label font-weight-bold text-muted text-uppercase">Mode paiement :</label>
                            {{ form_widget(form.paymentMode,{'attr': {'class': 'form-select form-control'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Text6" class="form-label font-weight-bold text-muted text-uppercase">Date :</label>
                            <input type="date" name="salesDate" class="form-control" value="{{ currentDate is defined and currentDate  ? currentDate :deliveryNote.createdAt|date('Y-m-d') }}">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="Text8" class="form-label font-weight-bold text-muted text-uppercase">Commentaire :</label>
                            {{ form_widget(form.comment,{'attr': {'class': 'form-control','placeholder':'Commentaire ...'}}) }}
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between align-items-center p-4">
                        <div class="flex align-items-start flex-column">
                            <h6></h6>
                            <p class="mb-0 my-2" style="color: red"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary px-4" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                                </svg>
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </div>

            {% if app.current_route != "app_delivery_note_new" %}
                <div class="card">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                        <tr class="text-muted">
                                            <th scope="col">Produit</th>
                                            <th scope="col" class="text-center">Quantité</th>
                                            <th scope="col" class="text-center">Prix</th>
                                            <th scope="col" class="text-center"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="tableProducts">


                                        </tbody>
                                    </table>
                                    <div class="text-start m-5">
                                        <button type="button" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#exampleModalLong">Ajouter des produits</button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">La liste de produits</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="create-workform">
                                                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                            <div class="modal-product-search d-flex">
                                                                <form class="mr-3 position-relative">
                                                                    <div class="form-group mb-0">
                                                                        <input type="text" class="form-control" id="searchProductsInput" placeholder="Rechercher un article">
                                                                        <a class="search-link" href="#">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                                                            </svg>
                                                                        </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table data-table mb-0">
                                                            <thead class="table-color-heading">
                                                            </thead>
                                                            <tbody id="bodyProductsTables">
                                                                {% for product in products %}
                                                                <tr class="white-space-no-wrap">
                                                                    <td class="pr-0 sorting_1">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox" name="productsToAdd" class="custom-control-input m-0" id="addProduct{{ product.id }}" value="{{ product.id }}">
                                                                            <label class="custom-control-label" for="addProduct{{ product.id }}"></label>
                                                                        </div>
                                                                    </td>

                                                                    <td class="">
                                                                        <div class="active-project-1 d-flex align-items-center mt-0 ">
                                                                            <div class="h-avatar is-medium">
                                                                                <img class="avatar rounded" onerror="this.onerror=null;this.src='{{ asset('data/images/products/default.png') }}';"  alt="{{ product.name }}" src="{{ vich_uploader_asset(product, 'imageFile') }}">
                                                                            </div>
                                                                            <div class="data-content">
                                                                                <div>
                                                                                    <span class="font-weight-bold">{{ product.nameCommerciale }}</span>
                                                                                </div>
                                                                                <p class="m-0 mt-1">
                                                                                    REF: {{ product.ref }}
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td colspan="10">Aucun enregistrement trouvé</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <button id="addProductToTable" type="button" class="btn btn-primary">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <div class="d-flex flex-wrap justify-content-between align-items-center p-4">
                                <div class="flex align-items-start flex-column">
                                    <h6>Notes</h6>
                                    <p class="mb-0 my-2" style="color: red">Une fois que vous avez apporté les modifications nécessaires aux lignes de l'article,<br> n'oubliez pas de cliquer sur le bouton "Enregistrer" pour les appliquer.</p>
                                </div>
                                <div>
                                    <button class="btn btn-primary px-4" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                                        </svg>
                                        Sauvegarder
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    {{ form_end(form, {'render_rest': false}) }}

    <div class="modal fade modal-add-customer" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout nouveau client</h5>
                    <button type="button" class="close button-modal-add-customer" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="saleNewCustomer" method="post">
                        <div class="form-group">
                            <label for="company">Raison sociale:</label>
                            <input type="text" class="form-control form-control-sm" name="newCustomer[company]" id="company">
                        </div>
                        <div class="form-group">
                            <label for="ice">ICE:</label>
                            <input type="text" class="form-control form-control-sm" name="newCustomer[ice]" id="ice">
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse:</label>
                            <input type="text" class="form-control form-control-sm" name="newCustomer[adresse]" id="adresse">
                        </div>
                        <div class="form-group">
                            <label for="mail">Téléphone:</label>
                            <input type="text" class="form-control form-control-sm" name="newCustomer[tel]" id="tel">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-secondary" id="addNewCutomer">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptfooter %}
    <script>
        $(document).ready(function(){
            var alreadySelectedProducts = "?alreadySelectedProducts=0";
            $('.selectedProductItems').each(function() {
                var value = $(this).val();
                alreadySelectedProducts += "," + value ;
            });

            var pathSerachProducts = "{{ path('app_products_delivery_note_search') }}" + alreadySelectedProducts;

            $('#searchProductsInput').on('keyup',function(){
                var inputValue = $(this).val();  // Get the value of the input

                $.ajax({
                    url: pathSerachProducts,  // Replace with your server URL
                    type: 'POST',                  // or 'POST', depending on your need
                    data: { query: inputValue },  // Send the input value to the server
                    success: function(response) {
                           $("#bodyProductsTables").html(response);
                    },
                    error: function(xhr, status, error) {

                    }
                });
            });

            $(".choicesjsSelect2").select2({
                placeholder: 'Séléctionner un client',
                allowClear: true
            });



            $('#addProductToTable').click(function() {
                var selectedValues = $('input[name="productsToAdd"]:checked').map(function() {
                    return this.value;
                }).get();

                $.ajax({
                    type:"POST",
                    url : "{{ path('app_delivery_note_rows') }}",
                    data: { options: selectedValues },
                    success : function(response) {
                        var newRows = $(response);
                        $('.tableProducts').append(newRows);
                    },
                    error: function() {

                    }
                });
            });


            $('#addNewCutomer').click(function() {
                var form = $('#saleNewCustomer');
                $.ajax({
                    type:"POST",
                    url : "{{ path('app_customers_sales_add') }}",
                    data: form.serialize(),
                    success : function(response) {
                        if(response == "nok_rs"){
                            swal("Raison sociale obligatoire", "", "error");
                        }else{
                            swal("Client ajouté", "", "success");
                            // Create the DOM option that is pre-selected by default
                            var newState = new Option(response.company, response.id, true, true);
                            // Append it to the select
                            $(".choicesjsSelect2").append(newState).trigger('change');
                            $('#saleNewCustomer').trigger("reset");
                            $('.button-modal-add-customer').click();
                        }
                    },
                    error: function() {
                        alert('le champs Raison sociale est obligatoire');
                    }
                });
            });

            $('#sales_paymentMode').change();

            $('#sales_customer').change();



        });


        function onErrorEvent(img){
            img.onerror=null;img.src="data/images/products/default.png";
        }

    </script>
{% endblock  %}
